<div class="container">

    <select name="" class="form-select mt-5 mt-md-2" (change)=" getCategory($event)">

        <option value="">Selecciona una categoría</option>
        <option *ngFor="let category of arrCategories" [value]=category.id>{{category.titulo}}</option>
    </select>


    <section class="row">
        <article class="col-12 col-md-6 col-lg-4" *ngFor="let post of posts">
            <div class="single-blog-item">
                <figure class="blog-thumnail">
                    <img [src]="post.imagen" alt="blog-img">
                </figure>
                <div class="blog-content">
                    <h4>{{post.titulo}}</h4><span><i class="fas fa-tag"></i>{{post.categoria}}</span>
                    <p class="mt-1">{{post.texto | recortarTexto}}</p>
                    <a class="more-btn btn-dark" [routerLink]="['/post', post.id]">Leer más</a>
                </div>
                <span class="blog-date">{{post.fecha}}</span>
                <span class="blog-autor">{{post.autor}} </span>
            </div>
        </article>
    </section>
    <div class="vacio mt-5" *ngIf="posts.length === 0">
        <h3> Aún no hay posts de viajes al continente seleccionado</h3>
        <figure>
            <img src="https://img.freepik.com/vector-gratis/icono-vector-avion-papel-doodle-estilo-esquema-avion-papel-color-rosa-avion-origami-simple_253081-1021.jpg?w=2000"
                alt="">
        </figure>
    </div>
</div>