<div class="container">
    <form [formGroup]="nuevoPost" (ngSubmit)="getDataForm()">

        <div class="form-group">
            <label for="title" class="form-label">Título</label>
            <input type="text" class="form-control" id="title" formControlName="title">
            <!-- <p class="error" *ngIf="checkValidator('title', 'required')">Debes seleccionar un título</p> -->
        </div>


        <div class="form-group">
            <label for="description" class="form-label">Descripción</label>
            <div class="text">
                <textarea class="form-control" formControlName="description" id="description" #text maxlength="700">
            </textarea>
                <p>{{text.value.length}} / 800</p>
            </div>
            <!-- <p class="error" *ngIf="checkValidator('text', 'minlength')">
            La descripción debe tener al menos 100 caracteres</p> -->

        </div>


        <div class="form-group">
            <label for="author" class="form-label">Autoría</label>
            <input type="text" class="form-control" id="author" formControlName="author">
            <!-- <p class="error" *ngIf="checkValidator('author', 'required')">Debes añadir un nombre para la autoría</p> -->
        </div>


        <div class="form-group">
            <label for="image" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="image" formControlName="image"
                placeholder="introduce la URL de la imagen">
            <!-- <p class="error" *ngIf="checkValidator('image', 'pattern')">Invalid url</p> -->

        </div>


        <div class="form-group">
            <!-- <label for="category" class="form-label">Categoría</label> -->
            <select id="category" formControlName="category">
                <option value="" selected disabled>Selecciona un continente</option>
                <option value="África">África</option>
                <option value="América">América</option>
                <option value="Asia">Asia</option>
                <option value="Europa">Europa</option>
                <option value="Oceanía">Oceanía</option>
            </select>


        </div>

        <input type="submit" value="Enviar" class="btn btn-info btn-block btn-dark mt-5" [disabled]="">


    </form>

    <figure>
        <img src="https://img.freepik.com/vector-gratis/pintura-acuarela-monton-bolsas-equipaje-vintage_534606-52.jpg"
            alt="">
    </figure>
</div>