<div class="container">
    <form [formGroup]="nuevoPost" (ngSubmit)="getDataForm()">

        <div class="form-group">
            <label for="titulo" class="form-label">Título</label>
            <input type="text" class="form-control" id="titulo" formControlName="titulo"
                placeholder="Introduce un título sobre tu viaje">
            <p class="error" *ngIf="nuevoPost.get('titulo')?.hasError('required') && nuevoPost.get('titulo')?.touched">
                Debes añadir un título</p>
        </div>

        <div class="form-group">
            <label for="fecha" class="form-label">Fecha del viaje</label>

            <input type="date" class="form-control" id="fecha" formControlName="fecha" value="2022-07-22"
                min="2018-01-01" max="2030-12-31">
        </div>


        <div class="form-group">
            <label for="texto" class="form-label">Descripción</label>
            <div class="text">
                <textarea class="form-control" formControlName="texto" id="texto" #text maxlength="700">
            </textarea>
                <p>{{text.value.length}} / 1200</p>
            </div>
            <p class="error" *ngIf="nuevoPost.get('texto')?.hasError('required')&&nuevoPost.get('texto')?.touched">
                Debes añadir una descripción</p>
            <p class="error" *ngIf="nuevoPost.get('texto')?.hasError('minlength')&&nuevoPost.get('texto')?.touched">
                La descripción debe contener al menos 120 caracteres</p>

        </div>


        <div class="form-group">
            <label for="autor" class="form-label">Autoría</label>
            <input type="text" class="form-control" id="autor" formControlName="autor"
                placeholder="Introduce tu nombre">
            <p class="error" *ngIf="nuevoPost.get('autor')?.hasError('required')&&nuevoPost.get('autor')?.touched">
                Debes añadir un nombre para la autoría</p>
            <p class="error" *ngIf="nuevoPost.get('autor')?.hasError('minlength')&&nuevoPost.get('autor')?.touched">
                El nombre debe contener al menos tres caracteres</p>
        </div>


        <div class="form-group">
            <label for="imagen" class="form-label">imagen</label>
            <input type="text" class="form-control" id="imagen" formControlName="imagen"
                placeholder="introduce la URL de la imagenn">
            <p class="error" *ngIf="nuevoPost.get('imagen')?.hasError('required')&&nuevoPost.get('imagen')?.touched">
                Debes añadir una imagen</p>
            <p class="error" *ngIf="nuevoPost.get('imagen')?.hasError('pattern')&&nuevoPost.get('imagen')?.touched">
                url no válida</p>

        </div>


        <div class="form-group">
            <select id="categoria" formControlName="categoria">
                <option value="" selected disabled>Selecciona un continente</option>
                <option value="África">África</option>
                <option value="América">América</option>
                <option value="Asia">Asia</option>
                <option value="Europa">Europa</option>
                <option value="Oceanía">Oceanía</option>
            </select>


        </div>

        <input type="submit" value="Enviar" class="btn btn-info btn-block btn-dark mt-5" [disabled]="!nuevoPost.valid">


    </form>

    <figure>
        <img src="https://img.freepik.com/vector-gratis/pintura-acuarela-monton-bolsas-equipaje-vintage_534606-52.jpg"
            alt="">
    </figure>
</div>